@model SaigonRide.Models.Station
@inject SaigonRide.Services.ILocalizationService Loc

@{
    ViewData["Title"] = "Delete Station";
    var lang = Context.Session.GetString("Lang") ?? "en";
}

<h1>@Loc.Get("DeleteStation", lang)</h1>

<h3>@Loc.Get("DeleteStationConfirm", lang)</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">@Loc.Get("StationName", lang)</dt>
        <dd class="col-sm-10">@Loc.GetStationName(Model.Name ?? "", lang)</dd>
        <dt class="col-sm-2">@Loc.Get("MaximumCapacity", lang)</dt>
        <dd class="col-sm-10">@Model.MaxCapacity</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="id" value="@Model.StationId" />
        <button type="submit" class="btn btn-danger">@Loc.Get("Delete", lang)</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">@Loc.Get("Cancel", lang)</a>
    </form>
</div>
